torch~=2.5.0
torchvision~=0.20.0
numpy~=1.26.0
pandas~=2.2.0
Pillow~=10.2.0
scipy~=1.14.0
wandb~=0.19.8
hydra-core~=1.3.2
beaker-py~=1.34.1
torchmetrics~=1.6.3
sentencepiece~=0.2.0
h5py~=3.12.1

transformers @ git+https://github.com/huggingface/transformers@159445d044623a4eba23ceb96dc7bd5bda51aa1a
nv_embed_v2 @ git+https://github.com/abhaybd/NV-Embed-v2_fixed.git
